 SELECT DISTINCT P1.SORLCUR_ADMT_CODE TIPO_ADMISION
 FROM SORLCUR P1
 ,SORLFOS
 WHERE P1.SORLCUR_TERM_CODE =
	 (SELECT MAX(L1.SORLCUR_TERM_CODE)
	 FROM SORLCUR L1
	 WHERE L1.SORLCUR_PIDM = P1.SORLCUR_PIDM
	 AND L1.SORLCUR_PRIORITY_NO = 1
	 AND L1.SORLCUR_LMOD_CODE = 'LEARNER'
	 AND L1.SORLCUR_CACT_CODE = 'ACTIVE'
	  )
 AND P1.SORLCUR_SEQNO =
	 (SELECT MAX(L1.SORLCUR_SEQNO)
	 FROM SORLCUR L1
	 WHERE L1.SORLCUR_PIDM = P1.SORLCUR_PIDM
	 AND L1.SORLCUR_PRIORITY_NO = 1
	 AND L1.SORLCUR_LMOD_CODE = 'LEARNER'
	 AND L1.SORLCUR_CACT_CODE = 'ACTIVE'
	 AND L1.SORLCUR_TERM_CODE = P1.SORLCUR_TERM_CODE
	 )
#if($!exchange.properties.isPIDM && $!exchange.properties.isPIDM != '')
 AND P1.SORLCUR_PIDM = '$!exchange.properties.isPIDM'
#end
 AND P1.SORLCUR_PRIORITY_NO = 1
 AND P1.SORLCUR_LMOD_CODE = 'LEARNER'
 AND P1.SORLCUR_CACT_CODE = 'ACTIVE'
 AND P1.SORLCUR_PIDM = SORLFOS_PIDM
 AND P1.SORLCUR_SEQNO = SORLFOS_LCUR_SEQNO
 AND SORLFOS_PRIORITY_NO = 1
 AND SORLFOS_CACT_CODE = 'ACTIVE'
 AND SORLFOS_CSTS_CODE = 'INPROGRESS'
 AND SORLFOS_LFST_CODE = 'MAJOR'
